/* 서브버튼 */
.sub_menu{
  width: 40px;
  margin-left: 20px;
  transform: rotate(90deg);
  display: flex;
  flex-direction: row;
  position: relative;
  z-index:1;
}

.sub_menu a{
  text-decoration: none;
  color: black;
  font-family: 'DM Serif Display', serif;
  font-weight: 700;
}

.about,
.home,
.portfolio{
  margin-left: 70px;
  margin-right: 40px;
  cursor: pointer;
  transition: .5s;
  font-size: 20px;
}

.about:hover,
.home:hover,
.portfolio:hover{
  border-bottom: 2px solid #736b9292;
  border-top: 2px solid #736b9292;
}

@media (max-width: 900px) {
  .about,
  .home,
  .portfolio{
    margin-right: 90px;
  }

} 


/* 타이틀 */
.nav-section{
  background-color:#f8f9fa;
  width: 95%;
  margin: auto;
  box-shadow: 12px 12px 5px rgba(119, 119, 118, 0.2);
}

.intro{
  display: flex;
  flex-direction: column;
}

h1{
  width: 500px;
  font-family: 'Lora', serif;
  margin-left: 20px;
}

.frontend,
.name{
  font-family: 'DM Serif Display', serif;
  background: linear-gradient(to right, transparent 50%, #ddbdd5 50%) ;
  background-size: 200%;
  font-weight: 700;
  transition: .35s;
}

.frontend:hover{
  background-position: -100%,0;
}

.name:hover{
  background-position: -100%,0;
}

@media (max-width:900px){
  .nav-section{
    border-left: 4px solid #809bce;
  }
}

