@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

.intro{
  display: flex;
  flex-direction: column;
}

.frontend,
.name{
  font-family: 'DM Serif Display', serif;
  background: linear-gradient(to right, transparent 50%, #ddbdd5 50%) ;
  background-size: 200%;
  font-weight: 700;
  transition: .35s;
}

.frontend:hover{
  background-position: -100%,0;
}

.name:hover{
  background-position: -100%,0;
}

h1{
  width: 500px;
  font-family: 'Lora', serif;
  margin-left: 20px;
}

/* 서브버튼 */
.sub_menu{
  width: 40px;
  margin-left: 20px;
  transform: rotate(90deg);
  display: flex;
  flex-direction: row;
}

.sub_menu a{
  text-decoration: none;
  color: black;
  font-family: 'DM Serif Display', serif;
  font-weight: 700;
}

.about,
.home,
.portfolio{
  margin-left: 70px;
  margin-right: 40px;
  cursor: pointer;
  transition: .5s;
  font-size: 20px;
}

.about:hover,
.home:hover,
.portfolio:hover{
  background-color: rgba(0, 128, 0, 0.586);
}


/* 슬라이드 */
.slide{
  width: 90%;
  height: 80%;
  position: absolute;
  right: 0;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* background: red; */
}

.swiper-pagination-bullet{
  background-color: rgb(147, 145, 145) !important;
}  

.swiper-pagination-bullet-active{
  background-color: gray !important;
}


.info{
  height: 33em;
  display: flex;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.info_about{
  height: 27.688em;
  line-height: 1.2;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info_name,
.info_num,
.info_email{
  font-family: 'Song Myung', serif;
  font-size: 20px;
  margin-top: 0.938em;
  display: flex;
  align-items: flex-start;
  font-weight: 700;
}

span{
  margin-left: 0.313em;
}

.info_about2{
  margin: 0.938em 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.certificates{
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
  font-weight: 700;
}

.info_certificates{
  font-family: 'Song Myung', serif;
  font-weight: 700;
  margin: 0.625em 0;
  font-size: 17px;
}

.github,
.v-log{
  font-size: 30px;
  margin-right: 1.250em;
  color: black;
  transition: color .5s;
}

.github:hover{
  color: rgb(240, 140, 33);
}

.v-log:hover{
  color: rgb(101, 238, 172);
}

.swiper-pagination-bullet-active{
  background-color: #ddbdd5 !important;
}

.swiper-button-prev,
.swiper-button-next{
  color: #f1e4e8 !important;
  transition: all .5s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover{
  color:#ddbdd5 !important;
  transform: scale(1.2) !important;
}