@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

.main{
  position: relative;
  margin: auto; 
  line-height: 10px;
  background-color: #f8f9fa;
  max-width: 95%;
  height: 34.5rem;
  border-radius: 0 0 10px 10px;
  box-shadow: 12px 12px 5px rgba(119, 119, 118, 0.2);
}

@media (max-width: 900px) {
  .main{
    max-height: 100vh;
    border-left: 2px solid #ddbdd5;
    border-bottom: 2px solid #ddbdd5;
    border-right: 2px solid #ddbdd5;
  }
}

@media (max-width:768px){
  .main{
    border-left: none;
    border-bottom: none;
    border-right: none;
  }
}

/* 슬라이드 */
.slide{
  max-width: 1300px;
  margin: 0 auto;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet{
  background-color: rgb(147, 145, 145) !important;
} 

.swiper-pagination-bullet-active{
  background-color: #ddbdd5 !important;
}

.swiper-button-prev,
.swiper-button-next{
  color: #f1e4e8 !important;
  transition: all .5s;
  scale: 2;
}

.swiper-button-prev{
  left: 15px !important;
}

.swiper-button-next{
  right: 15px !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover{
  color:#ddbdd5 !important;
  transform: scale(1.2) !important;
}

/* swiper-mobile */
@media (max-width:900px){
  .mySwiper {
    max-height:540px;
  }

  .slide{
    max-width: 700px;
    max-height: 90%;
  }

  .swiper-button-prev,
  .swiper-button-next{
    display: none !important;
  }
}

@media (max-width:768px){
  .swiper-pagination{
    height: 150px;
  }
}

/* main */
.main_text{
  height: 25em;
}

p{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  font-family: 'Song Myung', serif;
  font-size: 20px;
}

.icon{
  margin: 10px;
}

.main_word{
  background: linear-gradient(to right, transparent 50%, #ddbdd5 50%) ;
  background-size: 200%;
  font-weight: 700;
  transition: .35s;
}

.main_word:hover{
  background-position: -100%,0;
}

.checkbox .text{
  background: linear-gradient(to top, #ddbdd5 80%, transparent 20%); 
  font-family: 'DM Serif Display', serif;
  font-size: 30px;
  display: inline-block;
  margin: 25px 0;
  line-height: 120%;
}

.checkbox img{
  width: 50px;
  height: 55px;
  margin: 0  10px;
}

.checkbox .last_checkbox{
  display: flex;
}

.last_checkbox .checkbox_item{
  width: 50%;
}

@media (max-width:900px){
  .main_text{
    height: 14em;
  }

  p{
    width: 550px;
    margin:0 auto;
    padding: 40px 0;
    font-size: 20px;
    line-height: 1.2;
    border-bottom: 1px solid #ddbdd5;
  }

  .icon{
    display: none;
  }

  .checkbox{
    padding-top: 20px;
    text-align: center;
  }

  .checkbox .text{
    font-size: 20px;
    line-height: 0;
  }

  .checkbox img{
    width: 30px;
    height: 30px;
    margin: 0  20px;
    right: 10px;
  }

  .checkbox .last_checkbox{
    flex-direction: row;
    justify-content: center;
  }

  .last_checkbox .checkbox_item{
    width: 30%;
  }
}

@media (max-width:768px){
  p{
    width: 450px;
  }

  .checkbox img{
    margin: 0  10px;
  }
}

