@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

body{
  background-color: #adb5bd;
  color: #212529;
  position: relative;
}

body::after{
  position:absolute;
  content: '';
  top:0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(235,235,240,1) 100%);
  z-index: -1;
}


.main{
  position: relative;
  margin: auto;
  line-height: 10px;
  background-color: #f8f9fa;
  width: 90%;
  height: 43.75em;
  border-radius: 0 0 10px 10px;
  box-shadow: 12px 12px 5px rgba(119, 119, 118, 0.2);;
}

.legal{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.copyright{
  color: rgb(160, 158, 158);
  user-select: none;
  font-size: 0.938rem;
}